body {
    padding:0px;
    margin:0px;
    height:100vh;
    display:flex;
    justify-content: center;
    border: 1px solid red;
    align-items: center;
    background-color:tan; 
}

.container {
    border:1px solid red;
    display :flex;
    height:400px;
    width: 300px;
    flex-direction: column;
    background-color:#3d4543;  
    border-radius:15px;   
    gap: 30px;
    justify-content: center;
    align-items: center;
    
}

.display{
    display:flex;
    flex-direction: column;
    width:220px;
    height:40px;
    max-height: 60px;
    max-width: 240px;
    border:1px solid black;
    padding: 10px;
    gap: 5px;
    background-color:#bccd95;  
    font-size:20px; 
    text-align: right;
    justify-content: center;
        
}

.calculatorKeys {
    display:grid;
    grid-template-columns: repeat(4,50px);
    grid-template-rows: repeat(4,50px);
    justify-content: center;
    gap:10px;
    
}

button{
    height:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    color:white;  
    background-color:#303030;  
    border-bottom:black 2px solid;  
    border-top:2px #303030 solid; 
    
}

